*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: #eeeeee;
}
h1{
    text-align: center;
    font-size: 3rem;
}

header{
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: auto auto;
    align-items: center;
}

input{
    width: 80%;
    height: 100px;
    padding-left: 10%;
    font-size: 2rem;
}

button.add{
 width: 20%;
 cursor: pointer;
 background: green;
 color: white;
 font-weight: bold;
 border: none;
 height: 100px;
 border-top-right-radius: 10px ;
 border-bottom-right-radius: 10px;
 font-size: medium;
}

main{
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: auto auto;
    /* border: 1px solid blue ; */
    padding-top: 20px;
    align-items: center;
}

.item{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    height: 100px;
    width: 100%;
    box-shadow: 0 0 40px #ccc;
    margin-bottom: 1.5%;
    cursor: pointer;
}

.item-icone{
     flex: 20%;
    /* padding: 5%; */
    /* border: 1px solid orangered; */
    font-size: 1rem;
    text-align: center;
    float: left;
}

.item-nome{
    flex: 55%;
    /* border: 1px solid yellow; */
    /* padding: 5%; */
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.item-botao{
    flex: 20%;
    /* border: 1px solid green; */
    /* padding: 5%; */
}
.deletar{
    background: red;
    color: white;
    border: none;
    padding: 10px;
    width: 100%; 
    height: 100px;
    font-size: medium;
}
 .checkbox{
    height: 59px;
    float: left;
}

#checkbox{
    color: green;
}
.item.clicado{
    background: #d4f6d9;
}

.item.clicado .item-nome{
    text-decoration: line-through;
    color: gray;
}
